<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>今日新闻</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
<div align="center" style="margin-bottom: 5%">
    <h1 style="display: inline">今日新闻</h1>
</div>

<div align="center" style="margin: 60px">
    <div>
        <div style="margin: 30px;">
            <span style="margin-right: 30px">{{ year }}年{{ month }}月{{ day }}日</span>
            <span style="margin-left: 80px">{{ lunar_date.year }}年 {{ lunar_date.month }}月 {{ lunar_date.day }}日</span>
        </div>

        <div style="margin: 30px;">
            <span style="margin-right: 10px">宜：{{ lunar_date.fitness }}</span>
        <span style="margin-left: 20px">忌：{{ lunar_date.taboo }}</span>
        </div>
    </div>
</div>

<div style="margin: 50px">
    {% for item in news_list %}
        <div style="margin: 80px;">
            <a href="{{ item.url }}" target="_blank" style="text-decoration: none; color: black" title="点击查看新闻详情"><h3>{{ forloop.counter }}.{{ item.title }}</h3></a>
            <p style="text-indent: 2em">{{ item.digest }}</p>
        </div>
    {% endfor %}
</div>
</body>
</html>